header {
  height: 70px;
  background-color: var(--color-bg-secondary);
  color: var(--color-font-secondary);
  display: flex;
  align-items: center;
}

.header-ctr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  margin-right: 20px;
}

.menu-active {
  font-weight: 700;
}
